[Desktop Entry]
Type=Application
Name=Nightish
Icon=harbour-nightish
Exec=harbour-nightish

[X-Sailjail]
Sandboxing=Disabled
Permissions=Base
OrganizationName=openrepos.net
ApplicationName=Nightish
