[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nightish
Exec=harbour-nightish
Name=Nightish

[X-Sailjail]
Sandboxing=Disabled
OrganizationName=harbour-nightish
ApplicationName=harbour-nightish
